<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Freischütz Digital</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="Daniel Röwenstrunk" />

        <link rel="stylesheet" href="../styles/bootstrap.css" />
        <link rel="stylesheet" href="../styles/bootstrap-responsive.css" />
        <link href="../styles/bootswatch.css" rel="stylesheet" />
        <link href="../styles/freidi.css" rel="stylesheet" />
        <link href="../styles/ptsans.css" rel="stylesheet" />

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../pix/freidi_icon_144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../pix/freidi_icon_114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../pix/freidi_icon_72.png" />
        <link rel="apple-touch-icon-precomposed" href="../pix/freidi_icon_57.png" />
        <link rel="shortcut icon" href="../pix/freidi_favicon.png" />
    </head>
    <body>
        <div style="position: absolute; right:30px; top: 10px;"><a href="javascript:setLang('de')">DE</a> | <a href="javascript:setLang('en')">EN</a></div>
        <div id="content" class="container">
            <div id="figure-top" class="figure visible-desktop">
                <img style="height: 330px;" src="" alt="" />
            </div>
            <header id="overview" class="jumbotron subhead">
                <div class="row" style="min-height: 0;">
                    <div class="span8">
                        <img style="margin: 40px 0 0 3px;" src="../pix/Logo_greenInset.png" />
                    </div>
                    <div class="span4"> </div>
                </div>
                <div id="navbar" class="subnav">
                    <ul class="nav nav-pills">
                        <li id="nav_freidi" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">Freischütz Digital <span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="index.html">Project's Goals</a></li>
                                <li><a href="work-packages.html">Work Packages</a></li>
                                <li><a href="locations.html">Institutions</a></li>
                                <li><a href="team.html">People</a></li>
                                <li><a href="process.html">Project History</a></li>
                            </ul>
                        </li>
                        <li id="nav_edition">
                            <a href="edition.html">Edirom Online</a>
                        </li>
                        <li id="nav_data-tools" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">Data and Tools <span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="data-and-tools.html">Overview</a></li>
                                <li><a href="data.html">Data</a></li>
                                <li><a href="tools.html">Tools</a></li>
                                <li><a href="licences.html">Licenses</a></li>
                            </ul>
                        </li>
                        <li id="nav_demos" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">Demos <span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="demos.html">Overview</a></li>
                                <li><a href="demo-dynamic-score-rendering.html">Dynamic Score</a></li>
                                <li><a href="demo-genetic-text-stages.html">Text Layers</a></li>
                                <li><a href="demo-visualising-text-annotations.html">Text Annotations</a></li>
                                <li><a href="demo-visualising-text-variance.html">Text Variance</a></li>
                                <li><a href="demo-the-freischuetz-network.html">"The Freischütz Network" (Topic Map)</a></li>
                                <li><a href="demo-sync-player.html">Synchro-Player</a></li>
                                <li><a href="demo-multitrack-data-set.html">Multitrack Dataset</a></li>
                                <li><a href="demo-single-microphone-switcher.html">Single Microphone Switcher</a></li>
                                <li><a href="demo-instrument-equalizer.html">Instrument Equalizer</a></li>
                            </ul>
                        </li>
                        <li id="nav_documentation" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">Documentation <span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="documentation.html">Overview</a></li>
                                <li><a href="documentation-music.html">Score</a></li>
                                <li><a href="documentation-libretti.html">Libretto</a></li>
                                <li><a href="documentation-reference-texts.html">Reference Texts</a></li>
                                <li><a href="documentation-audio.html">Audio</a></li>
                            </ul>
                        </li>
                        <li id="nav_publications" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">Publications &amp;
                                Talks <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="publications.html">Publications</a></li>
                                <li><a href="talks.html">Talks</a></li>
                                <li><a href="events.html">Events</a></li>
                                <li><a href="meetings.html">Meetings</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="backlink" style="display:none;">
                    <a href="#" onclick="nav_back(); false;">zurück</a>
                </div>
            </header>
            
            
            