

            <div id="footer"
                style="padding-top: 5px; text-align: center; background-color: #EEEEEE; background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);     background-repeat: repeat-x;     border: 1px solid #E5E5E5;     border-radius: 4px 4px 4px 4px;     height: 24px;     margin-bottom: 20px;     margin-top: 40px;     width: 100%;"
                    ><a style="margin-right: 6px;" href="imprint.html">Imprint</a> · <a
                        style="margin-left: 8px;" href="contact.html">Contact</a></div>
        </div>
        <script src="../scripts/jquery-1.12.3.min.js"></script>
        <script src="../scripts/bootstrap.js"></script>
        <script src="../scripts/main.js"></script>
        <script src="../scripts/run_prettify.js"></script>
    </body>
</html>
