<header id="overview">
    <div class="row" style="min-height: 0;">
        <div class="col-sm-8 col-md-8">
            <img style="margin: 40px 0 0 3px;" src="pix/Logo_greenInset.png">
        </div>
        <div class="col-sm-4 col-md-4"> </div>
    </div>
    <nav id="navbar" class="navbar navbar-default" role="navigation">
        <ul class="nav nav-pills navbar-nav">
            <li id="nav_home">
                <a href="index.html">Startseite</a>
            </li>
            <li id="nav_work">
                <a href="work-packages.html">Arbeitspakete</a>
            </li>
            <li id="nav_loc">
                <a href="locations.html">Standorte</a>
            </li>
            <li id="nav_team">
                <a href="team.html">Mitarbeiter</a>
            </li>
            <li id="nav_events">
                <a href="events.html">Veranstaltungen</a>
            </li>
            <li id="nav_publications">
                <a href="publications.html">Publikationen &amp; Vorträge</a>
            </li>
            <li id="nav_releases">
                <a href="releases.html">Versionen der Edition</a>
            </li>
        </ul>
    </nav>
    <div id="backlink" style="display:none;">
        <a href="#" onclick="nav_back(); false;">zurück</a>
    </div>
</header>
