<header id="overview" class="jumbotron subhead">
    <div class="row" style="min-height: 0;">
        <div class="span8">
            <img style="margin: 40px 0 0 3px;" src="pix/Logo_greenInset.png"/>
        </div>
        <div class="span4"> </div>
    </div>
    <div id="navbar" class="subnav">
        <ul class="nav nav-pills">
            <li id="nav_docu">
                <a href="documentation-start.html">Projekt</a>
            </li>
            <li id="nav_music">
                <a href="documentation-music.html">Musik</a>
            </li>
            <li id="nav_text">
                <a href="documentation-text.html">Text</a>
            </li>
            <li id="nav_audio">
                <a href="documentation-audio.html">Audio</a>
            </li>
            <li id="nav_edition">
                <a href="documentation-edition.html">Edition</a>
            </li>
        </ul>
    </div>
    <div id="backlink" style="display:none;">
        <a href="#" onclick="nav_back(); false;">zurück</a>
    </div>
</header>
