<header id="overview" class="jumbotron subhead">
    <div class="row" style="min-height: 0;">
    </div>
    <div id="navbar" class="subnav">
        <ul class="nav nav-pills">
            <li id="nav_demos">
                <a href="demos.html">Demos</a>
            </li>
            <li id="nav_audio">
                <a href="demos-audio.html">Audio</a>
            </li>
            <li id="nav_libretti">
                <a href="demos-libretti.html">Libretti</a>
            </li>
            <li id="nav_reference">
                <a href="demos-reference.html">Referenztexte</a>
            </li>
            <li id="nav_musicedition">
                <a href="demos-musicedition.html">Musikedition</a>
            </li>
        </ul>
    </div>
    <div id="backlink" style="display:none;">
        <a href="#" onclick="nav_back(); false;">zurück</a>
    </div>
</header>
